{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for key, value in listings.items %}
      
      
      <div class="col">
        <div class="card">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <h5>{{key}}</h5>
            {% for v in value %}
            <div class="carousel-inner"> 
              
              <div class="carousel-item{% if forloop.first %} active{% endif %}">
                
                <img src="{{ v }}" class="d-block w-100" alt="...">
               
              </div>
             
            </div>
            {% endfor %} 
          </div>  
        </div>
    </div>

   
    
    {% endfor %}
   
  </div>

{% endblock %}