{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{field}}
        </div>
        {% endfor %}
        <div class="form-group">
            <label for="id_product_image" class="form-control">
             Choose Image
            </label>
             <img id="your_image" width="40%"/>
        </div>
        
        <input class="btn btn-primary" type="submit">
    </form>
    <script>
        id_product_image.onchange = evt => {
            const [file] = id_product_image.files
            if (file) {
                your_image.src = URL.createObjectURL(file)
            }
        }
    </script>

{% endblock %}